section.about-smart-home {
  padding: 4em 0;

  .wrapper {
    .title {
      font-family: 'Dunbar Tall';
      font-size: 42px;
      font-weight: bold;
      text-align: center;

    }
    
    .description {
      padding-top: 1em;
      width: 360px;
      padding-right: .5em;
      font-size: 18px;
      line-height: 28px;
      text-align: center;

    }
  }
}