@import '../../ambience/colors';
@import '../../ambience/fonts';

section.banner-smart-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-image: url('../../images/primeiros-passos/bg-banner@2x.png');
  background-size: cover;
  background-repeat: no-repeat;

  .category {
    padding-bottom: 2rem;

    font-family: 'Dunbar Tall';
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.2em;
    color: $color-white;
    text-transform: uppercase;
  }

  .title {
    font-family: 'Dunbar Tall';
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    color: $color-white;
  }

  .btn {
    margin-top: 3em;
  }
}

.banner-despertar-inteligente {
  background-image: url('../../images/despertar-inteligente/bg-banner@2x.png') !important;
}

.banner-home-office-inteligente {
  background-image: url('../../images/home-office-inteligente/bg-banner@2x.png') !important;
}