@import '../../ambience/colors';
@import '../../ambience/fonts';

section.extras {
  padding: 4em 0;

  background-color: #0E5A73;
  color: $color-white;

  .title {
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
  }

  .text {
    padding: 0 1.5em;
  }
}