section.what-smart-home {
  padding: 4em 0;
  position: relative;

  background-color: #EEEEEC;

  .title {
    padding-bottom: 2rem;
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .products {
    padding-top: 2em;
    position: relative;
    z-index: 1;
  }

  .product {
    margin-right: 2em;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .bg-house {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}