section.what-smart-home {
  padding: 4em 0;

  .title {
    padding-bottom: 2rem;
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
  }

  .products {
    padding-top: 2em;
  }

  .product {
    width: 201px;
    margin-right: 2em;
    text-align: center;

    img {
      width: 201px;
      height: 156px;
    }

    .name {
      padding-top: 1em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}