<section class="benefits">
  <div class="container d-flex flex-column">
    <div class="title">Benefícios de uma casa inteligente</div>
  
    <div class="sub-title">
      O Futuro chegou! Casas inteligentes não são mais exclusividades dos filmes. Confira como é viver em uma casa inteligente:
    </div>
  </div>

  <div class="container d-flex pt-5">
    <ul class="benefits-list">
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-1.svg" alt="benefit-icon">
        <div class="pl-4">Comande a casa<br> por voz e aplicativo.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-2.svg" alt="benefit-icon">
        <div class="pl-4">Controle e Monitore Remotamente.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-4.svg" alt="benefit-icon">
        <div class="pl-4">Automatize e aumente<br> o conforto de seu lar.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-5.svg" alt="benefit-icon">
        <div class="pl-4">A casa aprende com seus gostos.</div>       
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-3.svg" alt="benefit-icon">
        <div class="pl-4">Economize energia.</div>       
      </li>
    </ul>
    
    <img src="dist/images/home/bg-beneficios@2x.jpeg" alt="smart-house" class="ml-auto align-self-center image img-responsive">
  </div>
</section>