<section class="benefits">
  <div class="container d-flex flex-column text-center justify-content-center align-items-center">
    <div class="title">Benefícios de uma casa inteligente</div>
  
    <div class="sub-title">Transformamos seu apê em uma smart home de maneira simples e sem necessidades de obras.</div>
  </div>

  <div class="container d-flex pt-5">
    <ul class="benefits-list">
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-icon@2x.png" alt="benefit-icon">
        <div class="pl-4">Personalize rotinas e cenas de automação</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-icon@2x.png" alt="benefit-icon">
        <div class="pl-4">Comande por voz e aplicativo.</div>       
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-icon@2x.png" alt="benefit-icon">
        <div class="pl-4">Controle remoto de iluminação, temperatura e segurança.</div>       
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-icon@2x.png" alt="benefit-icon">
        <div class="pl-4">Personalize rotinas e cenas de automação</div>       
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-icon@2x.png" alt="benefit-icon">
        <div class="pl-4">Comande por voz e aplicativo.</div>       
      </li>
    </ul>
    
    <img src="dist/images/smart-house@2x.png" alt="smart-house" class="ml-auto align-self-center image img-responsive">
  </div>
</section>