<section class="benefits">
  <div class="container d-flex flex-column">
    <div class="title">Benefícios de uma casa inteligente</div>
  
    <div class="sub-title">
      Uma casa inteligente aumenta o bem-estar e conforto da sua família além de trazer novas funcionalidades.
    </div>
  </div>

  <div class="container d-flex pt-5">
    <ul class="benefits-list">
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-1.svg" alt="benefit-icon">
        <div class="pl-4">Crie rotinas e cenas de automação personalizadas.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-2.svg" alt="benefit-icon">
        <div class="pl-4">Maior segurança e monitoramento remoto.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-4.svg" alt="benefit-icon">
        <div class="pl-4">Controle da casa via app e voz.</div>       
      </li>
      
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-5.svg" alt="benefit-icon">
        <div class="pl-4">Controle a iluminação, climatização,<br>áudio e vídeo por um lugar só.</div>       
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/benefit-3.svg" alt="benefit-icon">
        <div class="pl-4">Economia de energia.</div>       
      </li>
    </ul>
    
    <img src="dist/images/home/bg-beneficios@2x.jpeg" alt="smart-house" class="ml-auto align-self-center image img-responsive">
  </div>
</section>