<section class="cta">
  <div class="container">
    <div class="title">
      Começe a viver em uma casa do Futuro!
    </div>

    <div class="text">
      Fale com um de nossos experts em casas inteligentes e marque um atendimento<br> para entender como você pode tornar o seu lar em uma casa do futuro em poucos dias.
    </div>

    <a onclick="return gtag_report_conversion('https://wa.me/5511958751436?text=Olá,%20gostaria%20de%20tirar%20dúvidas%20sobre%20o%20Mondo%20Starter%20:)');" href="https://wa.me/5511958751436?text=Olá,%20gostaria%20de%20falar%20com%20um%20especialista%20:)" class="btn btn-outline-warning" target="_blank">Falar com um Expert</a>
  </div>
</section>