<section class="how">
  <div class="container">
    <div class="title">Como ajudamos</div>
  
    <div class="description">
      Ajudamos famílias a evoluírem seus lares gradualmente com projetos simples e personalizados de automação residencial, que não necessitam nem de obras ou reformas para implantar-los.
    </div>

    <ul class="benefits-list">
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-1.svg" alt="home/como-funciona-icon">
        <div class="pl-4">Fornecimento de todos os dispositivos necessários.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-2.svg" alt="home/como-funciona-icon">
        <div class="pl-4">Processo de implementação 100% online.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-3.svg" alt="home/como-funciona-icon">
        <div class="pl-4">Evolução gradual da sua casa.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-4.svg" alt="home/como-funciona-icon">
        <div class="pl-4">Suporte contínuo a sua família.</div>
      </li>
    </ul>
  </div>

  <img src="dist/images/home/bg-house@2x.png" alt="bg-house" class="bg-house">
</section>