<section class="how">
  <div class="container">
    <div class="title">Casa Inteligente em 3 passos</div>
  
    <div class="description">
      Nunca foi tão fácil viver no futuro. Somos a primeira empresa brasileira a oferecer pacotes para tornar a sua casa tradicional em uma casa inteligente em dias, de maneira acessível e sem reformas.
    </div>

    <ul class="benefits-list">
      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-1.svg" alt="home/como-funciona-icon">
        <div class="pl-4">1. Escolha o seu Pacote e Compre Online.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-2.svg" alt="home/como-funciona-icon">
        <div class="pl-4">2. Receba o Pacote em Casa.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-3.svg" alt="home/como-funciona-icon">
        <div class="pl-4">3. Instalamos e Configuramos localmente.<br>*Disponível em SP Capital.</div>
      </li>

      <li class="benefit d-flex align-items-center">
        <img src="dist/images/home/como-funciona-4.svg" alt="home/como-funciona-icon">
        <div class="pl-4">Viva! Aproveite a sua Casa Inteligente!</div>
      </li>
    </ul>
  </div>

  <img src="dist/images/home/bg-house@2x.png" alt="bg-house" class="bg-house">
</section>