<section class="partners">
  <div class="container">
    <div class="title">
      Especialistas e parceiros
    </div>

    <div class="d-flex wrapper">
      <div>
        <ul class="partners-list">
          <li class="partner">
            <div class="sub-title">Arquitetos</div>
            <div class="description">
              Nossos arquitetos parceiros ajudam seus clientes integrarem toda a tecnologia desejada sem que o projeto perca sua identidade inicial.
            </div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Designers de interiores</div>
            <div class="description">Importantes em nos ajudar a desenvolver projetos dentro dos padrões de conforto e ergonomia.</div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Técnicos de automação</div>
            <div class="description">Os responsáveis por indicarem os melhores dispositivos e soluções técnicas para cada projeto.</div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Cientistas de software</div>
            <div class="description">Desenvolvemos um software próprio para controle de rotinas integradas que conta com um módulo próprio de Machine Learning.</div>
          </li>
        </ul>
    
        <a href="https://mondoiot.typeform.com/to/ykcNN0" class="btn btn-warning mt-5" target="_blank">Torne-se um profissional parceiro</a>
      </div>
  
      <img src="dist/images/home/especialistas@2x.png" alt="bg-partners" class="bg-partners ml-auto">
    </div>
  </div>
</section>