<section class="partners">
  <div class="container">
    <div class="title">
      Especialistas e parceiros
    </div>

    <ul class="partners-list">
      <li class="partner">
        <div class="sub-title">Especialistas em casas inteligentes</div>
        <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
      </li>

      <li class="partner">
        <div class="sub-title">Arquitetos</div>
        <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
      </li>

      <li class="partner">
        <div class="sub-title">Designers de interiores</div>
        <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
      </li>

      <li class="partner">
        <div class="sub-title">Técnicos de automação</div>
        <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
      </li>
    </ul>

    <a href="#" class="btn btn-warning">Juntem-se ao nosso time</a>
  </div>

  <img src="dist/images/bg-partners@2x.png" alt="bg-partners" class="bg-partners">
</section>