<section class="partners">
  <div class="container">
    <div class="title">
      Torne-se um parceiro da<br> Mondo Home
    </div>

    <div class="description">
      Faça parte do futuro! Desenvolvemos um <strong>programa de parceria</strong> para profissionais da área se capacitarem e ofererecerem
      a inovação aos seus clientes. Configura como você pode participar:
    </div>

    <div class="d-flex wrapper">
      <div>
        <ul class="partners-list">
          <li class="partner">
            <div class="sub-title">Arquitetos</div>
            <div class="description">
              Aumente o escopo de seus projetos e a percepção de valor do cliente sem aumentar a complexidade.
            </div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Designers de interiores</div>
            <div class="description">
              Se diferencie e chame atenção de clientes mais exigentes ao incluir automação em seu portfólio e showroom.
            </div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Técnicos de automação</div>
            <div class="description">
              Com nossos pacotes acessíveis, agora você pode atender clientes que antes nunca consumiriam suas soluções high-end.
            </div>
          </li>
    
          <li class="partner">
            <div class="sub-title">Clientes Satisfeitos</div>
            <div class="description">Indique amigos, familiares e vizinhos e ganhe dispositivos para aumentar a automação do seu lar!</div>
          </li>
        </ul>
    
        <a href="https://mondoiot.typeform.com/to/ykcNN0" class="btn btn-warning mt-5" target="_blank">Torne-se um parceiro</a>
      </div>
  
      <img src="dist/images/home/especialistas@2x.png" alt="bg-partners" class="bg-partners ml-auto">
    </div>
  </div>
</section>