<section class="projects" id="projetos">
  <div class="container">
    <div class="title text-center">Nossos projetos</div>

    <div class="row">
      <div class="col-md-3 d-flex project">
        <img src="../dist/images/primeiros-passos.svg" alt="illumination" class="image">

        <div class="sub-title">PRIMEIROS PASSOS<br>PARA CASA INTELIGENTE</div>

        <div class="description">
          Deguste dos principais benefícios de uma casa inteligente sem demandar altos investimentos iniciais.
        </div>

        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>

      <div class="col-md-3 d-flex project">
        <img src="../dist/images/despertar-inteligente.svg" alt="security" class="image">
        
        <div class="sub-title">DESPERTAR<br>INTELIGENTE</div>

        <div class="description">
          Torne as noites de sono um momento de descanso revitalizante e prazeroso com as tecnologias de inteligência residencial.
        </div>

        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="../dist/images/home-office-inteligente.svg" alt="security" class="image">
        
        <div class="sub-title">HOME OFFICE<br>INTELIGENTE</div>

        <div class="description">
          Transformamos seu apê em uma smart home de maneira simples e sem necessidades de obras.
        </div>
  
        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="../dist/images/projeto-personalizado.svg" alt="security" class="image">
        
        <div class="sub-title">PROJETO<br>PERSONALIZADO</div>

        <div class="description">
          Transformamos seu apê em uma smart home de maneira simples e sem necessidades de obras.
        </div>
  
        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</section>