<section class="projects" id="projetos">
  <div class="container">
    <div class="title text-center">Pacotes de Automação</div>

    <div class="row">
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-1@2x.png" alt="illumination" class="image">

        <div class="sub-title">MONDO STARTER</div>

        <div class="description">
          Deguste dos principais benefícios de uma casa inteligente sem demandar altos investimentos iniciais.
        </div>

        <div class="link">
          <a href="/primeiros-passos" class="btn btn-outline-warning">QUERO ADQUIRIR</a>
        </div>
      </div>

      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-2@2x.png" alt="security" class="image">
        
        <div class="sub-title">ANCIL</div>

        <div class="description">
          Pacote voltado para usuários avançados de automação residencial, lançamento em Jun/2020.
        </div>

        <div class="link">
          <a href="/despertar-inteligente" class="btn btn-outline-warning">Lista de Espera</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-3@2x.png" alt="security" class="image">
        
        <div class="sub-title">HOME OFFICE<br>INTELIGENTE</div>

        <div class="description">
          Aumente sua produtividade trabalhando de casa com as tecnologias de inteligência residencial.
        </div>
  
        <div class="link">
          <a href="/home-office-inteligente" class="btn btn-outline-warning">QUERO ADQUIRIR</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-4@2x.png" alt="security" class="image">
        
        <div class="sub-title">PROJETO<br>PERSONALIZADO</div>

        <div class="description">
          Ajudamos a tirar o seu sonho de ter uma casa inteligente do papel com nossos projetos personalizados.
        </div>
  
        <div class="link">
          <a href="https://mondoiot.typeform.com/to/GCjR7m" class="btn btn-outline-warning" target="_blank">Fale com um Expert</a>
        </div>
      </div>
    </div>
  </div>
</section>