<section class="projects" id="projetos">
  <div class="container">
    <div class="title text-center">Nossos projetos</div>

    <div class="row">
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-1@2x.png" alt="illumination" class="image">

        <div class="sub-title">PRIMEIROS PASSOS<br>PARA CASA INTELIGENTE</div>

        <div class="description">
          Deguste dos principais benefícios de uma casa inteligente sem demandar altos investimentos iniciais.
        </div>

        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>

      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-2@2x.png" alt="security" class="image">
        
        <div class="sub-title">DESPERTAR<br>INTELIGENTE</div>

        <div class="description">
          Torne as noites de sono um momento de descanso revitalizante e prazeroso com as tecnologias de inteligência residencial.
        </div>

        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-3@2x.png" alt="security" class="image">
        
        <div class="sub-title">HOME OFFICE<br>INTELIGENTE</div>

        <div class="description">
          Aumente sua produtividade em seu escritório localizado na residência com as tecnologias de inteligência residencial.
        </div>
  
        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
      
      <div class="col-md-3 d-flex project">
        <img src="dist/images/home/projeto-4@2x.png" alt="security" class="image">
        
        <div class="sub-title">PROJETO<br>PERSONALIZADO</div>

        <div class="description">
          Ajudamos a tirar o seu sonho de ter uma casa inteligente do papel com nossos projetos personalizados.
        </div>
  
        <div class="link">
          <a href="#" class="btn btn-outline-warning">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</section>