<section class="testemonials">
  <div class="title">O que dizem da Mondo</div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="testemonial">
          <img src="dist/images/photo-1@2x.png" alt="photo-1" class="photo">
          
          <div class="about">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse delectus maiores accusamus? Velit facere, dolor iusto incidunt ab, ducimus iure cumque odio explicabo mollitia, deserunt quam totam. Ex, modi libero.
          </div>

          <div class="bar"></div>

          <div class="name">Fulano de Tal</div>

          <div class="location">Não sei de onde</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="testemonial">
          <img src="dist/images/photo-1@2x.png" alt="photo-1" class="photo">
          
          <div class="about">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse delectus maiores accusamus? Velit facere, dolor iusto incidunt ab, ducimus iure cumque odio explicabo mollitia, deserunt quam totam. Ex, modi libero.
          </div>

          <div class="bar"></div>

          <div class="name">Fulano de Tal</div>

          <div class="location">Não sei de onde</div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="testemonial">
          <img src="dist/images/photo-1@2x.png" alt="photo-1" class="photo">
          
          <div class="about">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse delectus maiores accusamus? Velit facere, dolor iusto incidunt ab, ducimus iure cumque odio explicabo mollitia, deserunt quam totam. Ex, modi libero.
          </div>

          <div class="bar"></div>

          <div class="name">Fulano de Tal</div>

          <div class="location">Não sei de onde</div>
        </div>
      </div>
    </div>
  </div>
</section>