<section class="what">
  <div class="container">
    <div class="title text-center">O que pode ser automatizado?</div>

    <div class="row">
      <div class="col-md-3">
        <img src="https://sgnfo.files.wordpress.com/2019/02/iot-3337536.png?w=1024&h=706" alt="illumination" class="image">

        <div class="sub-title">Iluminação</div>
      </div>

      <div class="col-md-3">
        <img src="https://sgnfo.files.wordpress.com/2019/02/iot-3337536.png?w=1024&h=706" alt="security" class="image">
        
        <div class="sub-title">Segurança</div>
      </div>

      <div class="col-md-3">
        <img src="https://sgnfo.files.wordpress.com/2019/02/iot-3337536.png?w=1024&h=706" alt="security" class="image">
        
        <div class="sub-title">Climatização</div>
      </div>

      <div class="col-md-3">
        <img src="https://sgnfo.files.wordpress.com/2019/02/iot-3337536.png?w=1024&h=706" alt="security" class="image">
        
        <div class="sub-title">Áudio & vídeo</div>
      </div>
    </div>
  </div>
</section>