<section class="about-project">
  <div class="title">
    Funcionalidades do projeto
  </div>

  <div class="container steps steps-despertar-inteligente">
    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          ELEVE SUA PRODUTIVIDADE AO MÁXIMO
        </div>

        Inicie sua rotina de trabalho com um comando de voz. Após isso a temperatura ambiente irá estabelecer um padrão
        agradável para quem usa roupas leves, o som ambiente será alterado para o de um dia chuvoso ou até mesmo de um café
        movimentado, as cortinas serão abertas e se tiver luz natural insuficiente, a luz do cômodo irá acender num tom similar
        ao do sol em sua plenitude.
      </div>

      <img src="../dist/images/home-office-inteligente/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/home-office-inteligente/funcionalidade-2@2x.png" alt="smart-home">

      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          FAÇA TUDO SEM PRECISAR ABRIR NO CELULAR
        </div>
        
        Anote ideias no Evernote sem mesmo precisar abrir no celular ou computador. Usando a integração com o Google Assistant.
        Durante a rotina de trabalho, você pode agendar reuniões, colocar lembretes, cronômetros e alarme por voz através de seu
        Assistente Pessoal
      </div>
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          FAÇA TUDO SEM PRECISAR SAIR DO LUGAR
        </div>
      
        Se precisar se comunicar com alguém da casa, você poderá fazer sem precisar ligar ou sair do cômodo, através de um ou
        mais Google Home instalados na casa. Além disso, você também pode pedir para a cafeteira passar o café sem precisar sair
        do escritório.
      </div>
      
      <img src="../dist/images/home-office-inteligente/funcionalidade-3@2x.png" alt="smart-home" class="ml-auto">
    </div>
  </div>
</section>