<section class="about-smart-home">
  <div class="container">
    <div class="wrapper d-flex">
      <div>
        <div class="title">Sobre o projeto</div>
  
        <div class="description">
          Aumentar a produtividade do profissional em seu escritório localizado na residência. O cômodo preferencialmente deve ser diferente do dormitório mas também funciona se for.
        </div>
      </div>

      <img src="../dist/images/home-office-inteligente/sobre-o-projeto@2x.png" alt="smthome" class="ml-auto">
    </div>
  </div>
</section>
