<section class="benefits-smart-home">
  <div class="container">
    <div class="title">
      Principais benefícios
    </div>  

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../dist/images/home-office-inteligente/beneficio-1.svg" alt="beneficio-1">

        <div class="sub-title">PRODUTIVIDADE</div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/home-office-inteligente/beneficio-2.svg" alt="beneficio-2">
        
        <div class="sub-title">INTEGRAÇÃO</div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/home-office-inteligente/beneficio-3.svg" alt="beneficio-3">
        
        <div class="sub-title">CONCENTRAÇÃO</div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/home-office-inteligente/beneficio-4.svg" alt="beneficio-4">
        
        <div class="sub-title">AMBIENTE<br>TECNOLÓGICO</div>
      </div>
    </div>
  </div>
</section>