<section class="extras">
  <div class="container">
    <div class="title">Funcionalidades extras</div>

    <div class="row pt-4">
      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/home-office-inteligente/extra-1.svg" alt="extra-1">

        <div class="text">
          <div class="sub-title">
            CONTROLE FERRAMENTAS
            <br>
            DE PRODUTIVIDADE
          </div>

          Controle por voz ferramentas como Evernote, Trello, Google Spreadsheets.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/home-office-inteligente/extra-2.svg" alt="extra-2">

        <div class="text">
          <div class="sub-title">
            CONTROLE DO SOM AMBIENTE
          </div>

          O som pode ajudar a disfarçar ruídos externos de pessoas pela casa e vizinhos.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/home-office-inteligente/extra-3.svg" alt="extra-3">

        <div class="text">
          <div class="sub-title">
            ASSISTENTE INTELIGENTE
          </div>

          Google Assistant que possui inteligência artificial de ponta e acesso a todo o banco de dados do Google.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/home-office-inteligente/extra-4.svg" alt="extra-4">

        <div class="text">
          <div class="sub-title">
            CONTROLE DE TEMPERATURA
          </div>

          Criar um ambiente com condições propícias para uma noite de sono ideal.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/home-office-inteligente/extra-5.svg" alt="extra-5">

        <div class="text">
          <div class="sub-title">
            CONTROLE DA ILUMINAÇÃO
          </div>

          Estudiosos de interiores e produtividade comprovam que níveis de iluminação ajudam na concentração.
        </div>
      </div>
    </div>
  </div>
</section>