<section class="how-smart-home">
  <div class="container">
    <div class="title">Como será implementado?</div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="wrapper">
          <div class="title">PRODUTOS</div>

          <div class="text">
            Todos os produtos serão enviados via SEDEX rastreado com seguro para sua residência e a partir daí, em 15 dias
            garantimos que você e sua família estarão usufruindo dos benefícios do Pacote de Primeiros Passos para a Casa
            Inteligente.
          </div>
        </div>

        <div class="wrapper pt-5">
          <div class="title">SERVIÇOS INCLUSOS</div>

          <div class="text">
            <ul>
              <li class="pb-2">Guiaremos o Unboxing e Instalação dos dispositivos contidos no pacote;</li>
              <li class="pb-2">Setup inicial dos dispositivos e integração para controle centralizado por voz e por aplicativo;</li>
              <li>Configuração de 2 rotinas personalizadas(consulte as disponíveis)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="wrapper">
          <div class="title">VALOR DE INVESTIMENTO</div>
        
          <div class="price">
            <div class="sub-title">Produtos + Implementação</div>
            <div class="value">R$ 2.000,00</div>

            <div class="sub-title pt-4">Suporte e Upgrade de rotinas</div>
            <div class="value">R$ 79/mês</div>
            
            Sem contrato de fidelização.
            
            <div class="pt-4">
              <a href="#" class="btn btn-warning">Contratar pacote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>