@import '../../ambience/colors';
@import '../../ambience/fonts';

section.about-project {
  padding: 4em 0;

  .title {
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
  }

  .sub-title {
    padding-bottom: .75em;
    font-family: 'Dunbar Tall';
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  .steps {
    padding: 2em 5em 0;
  }

  .text {
    width: 450px;
  }

  .even, .odd {
    padding-top: 3em;
  }
}