@import '../../ambience/colors';
@import '../../ambience/fonts';

section.about-project {
  padding: 4em 0;

  .title {
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
  }

  .steps {
    padding-top: 1em;
  }

  .text {
    width: 500px;
  }

  .even, .odd {
    padding-top: 3em;
  }
}