<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mondo Starter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../dist/css/style.min.css">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127577854-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-127577854-1');
  </script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../dist/images/logo@2x.png" alt="logo">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">   
            <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
        
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/primeiros-passos">Mondo Starter</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mais Pacotes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/despertar-inteligente">ANCIL</a>
                <a class="dropdown-item" href="/home-office-inteligente">Home office inteligente</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/mondo-iot" target="_blank">Aprenda</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-warning" href="https://mondoiot.typeform.com/to/GJllwI" target="_blank">Falar com um Expert</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <!-- partial:partials/_banner.html -->
    <!-- partial -->
    
    <!-- partial:partials/_about.html -->
    <!-- partial -->

    <!-- partial:partials/_benefits.html -->
    <!-- partial -->

    <!-- partial:partials/_about_project.html -->
    <!-- partial -->
    
    <!-- partial:partials/_extras.html -->
    <!-- partial -->

    <!-- partial:partials/_what.html -->
    <!-- partial -->

    <!-- partial:partials/_how.html -->
    <!-- partial -->
  </main>

  <footer>
    <div class="links-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="title">Sobre</div>
  
            <ul class="links">
              <li class="link"><a href="/">Início</a></li>
              <li class="link"><a href="https://medium.com/mondo-iot" target="_blank">Blog</a></li>
            </ul>
          </div>
  
          <div class="col-md-3">
            <div class="title">Serviços</div>
  
            <ul class="links">
              <li class="link"><a href="/primeiros-passos">Mondo Starter</a></li>
              <li class="link"><a href="/despertar-inteligente">ANCIL</a></li>
              <li class="link"><a href="/home-office-inteligente">Home office inteligente</a></li>
            </ul>
          </div>
  
          <div class="col-md-3">
            <div class="title">Contato</div>
  
            <ul class="links">
              <li class="link"><a href="https://mondoiot.typeform.com/to/GJllwI">Fale conosco</a></li>
              <li class="link"><a href="https://mondoiot.typeform.com/to/GCjR7m">Projeto Personalizado</a></li>
  
            </ul>
          </div>
  
          <div class="col-md-3">
            <div class="title">Fique por dentro</div>
  
            <a href="https://mondoiot.typeform.com/to/zo2iHa" class="btn btn-success mt-4" target="_blank">Inscreva-se</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="logo-section">
      <div class="container d-flex">
        <img src="../dist/images/logo@2x.png" alt="logo">
  
        <div class="copyright-wrapper ml-auto align-right">
          <span class="slogan">Popularizando <strong>casas inteligentes</strong> desde 2018</span><br>
          <span class="copyright">Copyright 2018 - 2020 © Mondo Home</span>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://wa.me/5511986357598?text=Olá,%20gostaria%20de%20falar%20com%20um%20especialista%20:)" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
      z-index:1000;" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
    </a>

  </footer>
</body>
</html>