<section class="about-smart-home">
  <div class="container-fluid">
    <div class="wrapper d-flex">
      <div>
        <div class="title">O Start para<br> evoluir o seu lar</div>
  
        <div class="description">
          O Pacote de Automação Mondo Starter reúne os <strong>6 principais dispositivos</strong> que não podem faltar
          em uma casa inteligente. Com eles, e com a nossa configuração personalizada, você poderá desfrutar dos principais benefícios de uma casa inteligente <strong>sem obras ou fios</strong> e em tempo recorde!
        </div>

        <img src="../dist/images/primeiros-passos/sobre-o-projeto@2x.png" alt="smthome" class="ml-auto">

      </div>

    </div>
  </div>
</section>  