<section class="about-smart-home">
  <div class="container">
    <div class="wrapper d-flex">
      <div>
        <div class="title">O Start para<br> evoluir o seu lar</div>
  
        <div class="description">
          O Pacote de Automação Mondo Starter é ideal para quem quer viver no futuro e desfrutar dos principais benefícios de uma casa inteligente sem obras, <strong>sem demandar altos
          investimentos iniciais</strong> e em tempo recorde!
        </div>
      </div>

      <img src="../dist/images/primeiros-passos/sobre-o-projeto@2x.png" alt="smthome" class="ml-auto">
    </div>
  </div>
</section>  