<section class="about-smart-home">
  <div class="container">
    <div class="wrapper d-flex">
      <div>
        <div class="title">Sobre o projeto</div>
  
        <div class="description">
          O objetivo do pacote é entregar uma degustação dos principais benefícios de uma casa inteligente <strong>sem demandar altos
          investimentos iniciais</strong>, permitindo a família evoluir gradualmente o nível de automação de sua residência.
        </div>
      </div>

      <img src="../dist/images/primeiros-passos/sobre-o-projeto@2x.png" alt="smthome" class="ml-auto">
    </div>
  </div>
</section>