<section class="about-project">
  <div class="title">
    O que posso fazer com o<br>Mondo Starter?
  </div>

  <div class="container steps">
    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
        CONTROLE SUA CASA POR VOZ
        </div>
        São centenas de opções! Peça músicas, informações, marque reuniões e muito mais usando sua Assistente Virtual
        integrada com seus demais dispositivos inteligentes.
      </div>

      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/primeiros-passos/funcionalidade-2@2x.png" alt="smart-home">

      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          SUA CASA APRENDE COM VOCÊ
        </div>
          Através de simples configurações, sua casa pode saber o momento para ligar o ar-condionado, passar o café ou 
          apagar as luzes de acordo com a sua rotina.       
        </div>
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          PETS NUNCA SOZINHOS
        </div>
          Agora você pode monitorar remotamente seus pets, falar com eles através da assistente Virtual
          e até tocar músicas para eles não se sentirem sozinhos!
        </div>
      
      <img src="../dist/images/primeiros-passos/funcionalidade-3@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/primeiros-passos/funcionalidade-4@2x.png" alt="smart-home">
    
      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          CASA SUSTENTÁVEL
        </div>
          Ligue e desligue eletrodomésticos através do aplicativo, mesmo à distância. Nunca mais esqueça nada
          ligado durante o dia fora de casa!
      </div>
    </div>
  </div>
</section>