<section class="about-project">
  <div class="title">
    Funcionalidades do projeto
  </div>

  <div class="container steps">
    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          ROTINAS AUTOMATIZADAS DE ILUMINAÇÃO
        </div>

        Montamos cenas de iluminação especialmente para despertar de manhã, jantar romântico e iluminar de acordo com a música. Economize energia programando cenas de iluminação ideais para cada momento do dia.
      </div>

      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/primeiros-passos/funcionalidade-2@2x.png" alt="smart-home">

      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          SEMPRE NA TEMPERATURA IDEAL
        </div>
        
        Seu sistema de ar-condicionado ou ventilação pode ser automatizado para deixar sua casa a temperatura ideal antes mesmo de você chegar em casa ou evitar que durante o dia alguém esqueça ligado.
      </div>
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          ASSISTENTE PESSOAL INTELIGENTE
        </div>
      
        Sua família ganhará uma assistente pessoal que ajudará a acompanhar notícias, marcar compromissos, dar comandos de voz para controlar o restante dos dispositivos e dezenas de outras funções.
      </div>
      
      <img src="../dist/images/primeiros-passos/funcionalidade-3@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/primeiros-passos/funcionalidade-4@2x.png" alt="smart-home">
    
      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          MONITORAMENTO E SEGURANÇA<br>PARA SUA FAMÍLIA
        </div>
    
        Observe à distância o que se passa em sua casa mesmo sem precisar instalar um sistema caro e complexo.
      </div>
    </div>
  </div>
</section>