<section class="about-project">
  <div class="title">
    O que posso fazer com o<br>Mondo Starter?
  </div>

  <div class="container steps-fluid">
    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
        CONTROLE POR VOZ
        </div>
        São centenas de opções! Peça músicas, informações, marque reuniões e muito mais com a Assistente Virtual
        integrada aos os demais dispositivos.
      </div>

      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="even d-flex">
      <div class="text align-self-center ">
        <div class="sub-title">
        A CASA APRENDE COM VOCÊ
        </div>
        De acordo com a sua rotina, a casa encontra o melhor momento para ligar o ar-condionado, passar o café ou 
        apagar as luzes.
        </div>
      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          PETS NUNCA SOZINHOS
        </div>
          Agora você pode monitorar remotamente seus pets, falar com eles através da assistente Virtual
          e até tocar músicas para eles não se sentirem sozinhos!
        </div>
      
      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          CASA SUTENTÁVEL
        </div>
          Ligue e desligue eletrodomésticos através do aplicativo, mesmo à distância. Nunca mais esqueça nada
          ligado durante o dia fora de casa!
        </div>
      
      <img src="../dist/images/primeiros-passos/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>