<section class="benefits-smart-home">
  <div class="container">
    <div class="title">
      Principais benefícios
    </div>  

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-1.svg" alt="beneficio-1">

        <div class="sub-title">AUTOMAÇÃO<br>BÁSICA</div>
        <div class="description text-center">
          Ideal para quem está começando a investir em inteligência residencial, experimente os principais benefícios investindo 8x menos.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-2.svg" alt="beneficio-2">
        
        <div class="sub-title">SEM NECESSIDADE<br>DE OBRAS</div>
        <div class="description text-center">
          Ideal para quem reside em imóvel alugado e pode se mudar no futuro, transferindo tudo para um novo lar.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-3.svg" alt="beneficio-3">
        
        <div class="sub-title">CONTROLE<br>TOTAL</div>
        <div class="description text-center">
          Comande a iluminação, temperatura, segurança e entretenimento por voz e por aplicativo mesmo que esteja fora de casa.          
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-4.svg" alt="beneficio-4">
        
        <div class="sub-title">CRIAMOS ROTINAS<br>PERSONALIZADAS</div>
        <div class="description text-center">
          Na implementação iremos configurar rotinas de automação envolvendo todos os dispositivos integrados e outros durante a evolução tecnológico do seu lar.
        </div>
      </div>
    </div>
  </div>
</section>