<section class="benefits-smart-home">
  <div class="container">
    <div class="title">
      Instalação do Pacote
    </div>  

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-1.svg" alt="beneficio-1">

        <div class="sub-title">1. ADQUIRA<br>ONLINE</div>
        <div class="description text-center">
          Solicite o seu Mondo Starter pelo site ou pelo Whatsapp. Fique à vontade para tirar todas as dúvidas com os nossos experts.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-2.svg" alt="beneficio-2">
        
        <div class="sub-title">2.RECEBA EM<br>CASA</div>
        <div class="description text-center">
          Enviaremos o pacote do Mondo Starter à sua residência contendo todos os componentes necessários para a instalação.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-3.svg" alt="beneficio-3">
        
        <div class="sub-title">3.INSTALAÇÃO<br>LOCAL</div>
        <div class="description text-center">
          Agendaremos a visita de um implementador de automação para instalar os dispositivos e configurar o seu sistema de automação.          
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/primeiros-passos/beneficio-4.svg" alt="beneficio-4">
        
        <div class="sub-title">4. USUFRUA E<br>EVOLUA SEU LAR!</div>
        <div class="description text-center">
          Conte nosso time para suporte e ajuda para tornar a sua casa cada vez mais inteligente com os nossos pacotes mais avançados.
        </div>
      </div>
    </div>
  </div>
</section>