<section class="extras">
  <div class="container">
    <div class="title">Funcionalidades extras</div>

    <div class="row pt-4">
      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/primeiros-passos/extra-1.svg" alt="extra-1">

        <div class="text">
          <div class="sub-title">
            ASSISTENTE DE MEDITAÇÃO
          </div>

          Desacelere e foque usando uma assistene de meditação guiada.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/primeiros-passos/extra-2.svg" alt="extra-2">

        <div class="text">
          <div class="sub-title">
            CENAS DE ILUMINAÇÃO
          </div>

          Essa rotina permite tornar a luz, temperatura e som ambiente para momentos de leitura noturna, geralmente antes de dormir.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/primeiros-passos/extra-3.svg" alt="extra-3">

        <div class="text">
          <div class="sub-title">
            ASSISTENTE MATINAL
          </div>

          Durante seus afazeres matinais, você pode consultar por voz as principais notícias do dia, previsão do tempo do dia, melhor rota para o trabalho com o Google Maps.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/primeiros-passos/extra-4.svg" alt="extra-4">

        <div class="text">
          <div class="sub-title">
            ASSISTENTE DE HOME OFFICE
          </div>
            Aumente a sua produtividade trabalhado de casa usando uma assistente virtual.
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center pt-5">
        <img src="../dist/images/primeiros-passos/extra-5.svg" alt="extra-5">

        <div class="text">
          <div class="sub-title">
            ACIONAMENTO AUTOMÁTICO
          </div>

          Ao chegar em casa as luzes se ligarão automaticamente e ativará o ar-condicionado para manter a temperatura ideal.
        </div>
      </div>
    </div>
  </div>
</section>