<section class="how-smart-home" id="adquirir-projeto">
  <div class="container">
    <div class="title">Adquirindo o Mondo Starter</div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="wrapper">
          <div class="title">COMPONENTES MONDO STARTER:</div>

          <div class="text">
            <li class="pb-2">1x Controlador IR Universal;</li>
            <li class="pb-2">1x Interruptor Wi-Fi Inteligente;</li>
            <li class="pb-2">1x Lâmpada LED Inteligente;</li>
            <li class="pb-2">1x Tomada Wi-Fi Inteligente;</li>
            <li class="pb-2">1x Câmera Wi-Fi Inteligente;</li>
            <li class="pb-2">1x Assistente Virtual + Suporte;</li>
            <li class="pb-2">Adaptadores e acessórios.</li>


          </div>
        </div>

        <div class="wrapper pt-5">
          <div class="title">SERVIÇOS INCLUSOS:</div>

          <div class="text">
            <ul>
              <li class="pb-2">Visita de implementador para instalação e configuração do pacote;</li>
              <li class="pb-2">15 dias de atendimento técnico após instalação;</li>
              <li class="pb-2">6 meses de suporte online;</li>
              <li class="pb-2">Garantia de substituição de dispositivos por defeitos de fábrica.</li>
            
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="wrapper">
          <div class="title">INVESTIMENTO:</div>
        
          <div class="price">
            <div class="sub-title">Pacote e *Instalação:</div>
            <div class="value">R$1.890,00</div>
            *Disponível somente para SP capital.

            <div class="sub-title pt-4">Condições comerciais:</div>
            <div class="value">Até 6x R$335,00</div>            
            <div class="value">5% off no Boleto</div>            

            <div class="pt-4">
              <a onclick="return gtag_report_conversion('https://wa.me/5511986357598?text=Olá,%20gostaria%20de%20tirar%20dúvidas%20sobre%20o%20Mondo%20Starter%20:)" class="btn btn-warning" target="_blank">Contratar Pacote</a>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
