<section class="what-smart-home">
  <div class="container">
    <div class="title">
      O que contém no pacote
    </div>

    <div class="d-flex justify-content-center products">
      <div class="product">
        <img src="../dist/images/primeiros-passos/pacote-1@2x.png" alt="google-home">
      </div>

      <div class="product">
        <img src="../dist/images/primeiros-passos/pacote-2@2x.png" alt="broadlink">
      </div>

      <div class="product">
        <img src="../dist/images/primeiros-passos/pacote-3@2x.png" alt="sonoff">
      </div>

      <div class="product">
        <img src="../dist/images/primeiros-passos/pacote-4@2x.png" alt="lampadas">
      </div>

      <div class="product">
        <img src="../dist/images/primeiros-passos/pacote-5@2x.png" alt="camera">
      </div>
    </div>
  </div>

  <img src="../dist/images/bg-house@2x.png" alt="bg-house" class="bg-house">
</section>
