@import '../ambience/colors';
@import '../ambience/fonts';

section.partners {
  padding: 4em 0;
  position: relative;

  .container {
    position: relative;
  }

  .title {
    font-family: 'Dunbar Tall';
    font-size: 40px;
    font-weight: bold;
  }

  .sub-title {
    padding-bottom: .5em;
    font-family: 'Dunbar Tall';
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .description {
    width: auto;
  }

  .partners-list {
    padding: 0;
    margin-top: 3em;

    list-style-type: none;

    .partner {
      padding-bottom: 2em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .btn {
    margin-top: 1em;
  }

  .wrapper {
    align-items: flex-start;

    img {
      margin-top: 2em;
    }
  }
}