@import '../ambience/colors';
@import '../ambience/fonts';

section.projects {
  padding: 4em 0;

  background-color: $color-teal;

  color: $color-white;

  .project {
    flex-direction: column;
  }

  .title {
    font-family: 'Dunbar Tall';
    font-size: 42px;
    font-weight: bold;
  }
  
  .sub-title {
    padding-top: 1em;
    
    font-family: 'Dunbar Tall';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .description {
    padding: 1.5em 1em;
    text-align: center;
  }

  .link {
    align-self: center;
  }

  .row {
    padding-top: 4em;
  }

  .image {
    align-self: center;
  }
}