<!--<section class="about-project">
  <div class="title">
    Funcionalidades do projeto
  </div>

  <div class="container steps steps-despertar-inteligente">
    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          VOCÊ ACORDA E SUA CASA TAMBÉM
        </div>

        Acorde com a sua música favorita em uma temperatura agradável e abra as cortinas sem sair de sua cama.
      </div>

      <img src="../dist/images/despertar-inteligente/funcionalidade-1@2x.png" alt="smart-home" class="ml-auto">
    </div>

    <div class="odd d-flex">
      <img src="../dist/images/despertar-inteligente/funcionalidade-2@2x.png" alt="smart-home">

      <div class="text align-self-center ml-auto">
        <div class="sub-title">
          SAIA DE CASA TRANQUILAMENTE
        </div>
        
        Desligue todos os aparelhos, luzes e ative as câmeras de segurança em um único toque.
      </div>
    </div>

    <div class="even d-flex">
      <div class="text align-self-center">
        <div class="sub-title">
          PARA UMA ÓTIMA NOITE DE SONO
        </div>
      
        Diminua as luzes, acenda ao abajur. Ligue o alarme e controle o ar condicionado do seu quarto sem sair do conforto da sua cama.
      </div>
      
      <img src="../dist/images/despertar-inteligente/funcionalidade-3@2x.png" alt="smart-home" class="ml-auto">
    </div>
  </div>
</section>