<section class="about-smart-home">
  <div class="container">
    <div class="wrapper d-flex">
      <div>
        <div class="title">Sobre o projeto</div>
  
        <div class="description">
          Através das tecnologias mais recentes de inteligência residencial, tornarmos as noites de sono um momento de descanso revitalizador e prazeroso. Focando também em proporcionar um despertar ideal.
        </div>
      </div>

      <img src="../dist/images/despertar-inteligente/sobre-o-projeto@2x.png" alt="smthome" class="ml-auto">
    </div>
  </div>
</section>
