<section class="benefits-smart-home">
  <div class="container">
    <div class="title">
      Principais benefícios
    </div>  

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../dist/images/despertar-inteligente/beneficio-1.svg" alt="beneficio-1">

        <div class="sub-title">AUTOMAÇÃO<br>BÁSICA</div>
        <div class="description text-center">
          Ideal para quem está começando a investir em inteligência residencial, experimente os principais benefícios investindo 8x menos.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/despertar-inteligente/beneficio-2.svg" alt="beneficio-2">
        
        <div class="sub-title">SEM NECESSIDADE<br>DE OBRAS</div>
        <div class="description text-center">
          Ideal para quem reside em imóvel alugado e pode se mudar no futuro, transferindo tudo para um novo lar.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/despertar-inteligente/beneficio-3.svg" alt="beneficio-3">
        
        <div class="sub-title">AUMENTO<br>DO BEM-ESTAR</div>
        <div class="description text-center">
          Ideal para quem quer um ambiente com condições propícias para uma boa noite de sono.
        </div>
      </div>
      
      <div class="col-md-3 text-center">
        <img src="../dist/images/despertar-inteligente/beneficio-4.svg" alt="beneficio-4">
        
        <div class="sub-title">DESPERTAR<br>IDEAL</div>
        <div class="description text-center">
          Ideal para quem tem sono pesado e precisa de estímulos para diminuir a chance de perde a hora.
        </div>
      </div>
    </div>
  </div>
</section>