@font-face {
  font-family: "Dunbar Text";
  font-weight: 400;
  src: url("../../app/assets/fonts/Dunbar_Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Dunbar Text";
  font-weight: 500;
  src: url("../../app/assets/fonts/Dunbar_Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Dunbar Tall";
  font-weight: 500;
  src: url("../../app/assets/fonts/Dunbar_Tall-Medium.otf") format("opentype");
}