<section class="about-smart-home">
  <div class="container">
    <div class="wrapper d-flex align-items-center">
      <div class="description">
        <div class="title">Sobre a rotina</div>

        O objetivo do pacote é entregar uma degustação dos principais benefícios de uma casa inteligente <strong>sem demandar altos investimentos iniciais</strong>, permitindo a família evoluir gradualmente o nível de automação de sua residência.
      </div>

      <img src="../dist/images/smart-home-pckt@2x.png" alt="smthome" class="ml-auto">
    </div>
  </div>
</section>