<section class="benefits-smart-home">
  <div class="container">
    <div class="title">
      Principais benefícios
    </div>  

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="../dist/images/crie-rotinas.svg" alt="beneficio-1">

        <div class="description text-center pt-4">Crie rotinas de automação personalizadas.</div>
      </div>

      <div class="col-md-3 text-center">
        <img src="../dist/images/comece.svg" alt="beneficio-2">

        <div class="description text-center pt-4">Comece a automatizar sem necessidade de obras.</div>
      </div>

      <div class="col-md-3 text-center">
        <img src="../dist/images/climatizacao.svg" alt="beneficio-3">

        <div class="description text-center pt-4">Controle da climatização.</div>
      </div>

      <div class="col-md-3 text-center">
        <img src="../dist/images/iluminacao.svg" alt="beneficio-4">

        <div class="description text-center pt-4">Controle da iluminação.</div>
      </div>
    </div>
  </div>
</section>