<section class="what-smart-home">
  <div class="container">
    <div class="title">
      O que contém no pacote
    </div>

    <div class="d-flex justify-content-center products">
      <div class="product">
        <img src="../dist/images/google-home-mini@2x.png" alt="google-home">
        <div class="name">Assistente virtual Google Home Mini</div>
      </div>

      <div class="product">
        <img src="../dist/images/broadlink@2x.png" alt="broadlink">
        <div class="name">Controlador Universal Inteligente Broadlink RM Pro</div>
      </div>

      <div class="product">
        <img src="../dist/images/sonoff@2x.png" alt="sonoff">
        <div class="name">Tomadas inteligentes Sonoff WiFi S26</div>
      </div>

      <div class="product">
        <img src="../dist/images/lampadas@2x.png" alt="lampadas">
        <div class="name">Lâmpadas inteligentes Xiaomi Yeelight</div>
      </div>

      <div class="product">
        <img src="../dist/images/camera@2x.png" alt="camera">
        <div class="name">Câmera de segurança Inteligente Xiaomi Dafang</div>
      </div>
    </div>
  </div>
</section>